//---------------------------------------
// PATRONES DE COLORES
//---------------------------------------
$primario: rgba(51, 51, 51);
$secundario: rgb(28,186,164);
$texto: rgb(255,255,255);
$gris: #CED4D9;

@font-face {
  font-family: "Buffalo";
  src: local("Buffalo"),
  url("~@/fonts/Buffalo.otf") format('opentype');
}


/*----------------------------------------
1. TIPOGRAFIA DEL SITIO
-----------------------------------------*/

html {
    font-size: 13px;
  
}




p, h1,  ul{
  color: $primario;
  text-decoration: none;
  font-family: 'GFS Didot', serif;
}


h2{
  color: $primario;
  text-decoration: none;
  font-family: 'Buffalo';
}




a, li{
  color: $secundario;
  text-decoration: none;
  font-family: 'GFS Didot', serif;
}

h3, h4{
  font-family: 'GFS Didot', serif;
  color: $secundario;
  text-decoration: none;
}

h5, h6{
  font-family: 'GFS Didot', serif;
  color: $primario;
  text-decoration: none;
}


.tarjeta {
  border-color: $primario;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(87, 54, 85, 0.2);
  
  height: auto;
}


