//---------------------------------------
// PATRONES DE COLORES
//---------------------------------------
$primario: rgba(51, 51, 51);
$secundario: rgb(250,209,165);
$texto: rgb(255,255,255);
$gris: #CED4D9;

/*----------------------------------------
1. TIPOGRAFIA DEL SITIO
-----------------------------------------*/

html {
    font-size: 13px;
  
}

p, h1, h2,  ul{
  color: $primario;
  text-decoration: none;
  font-family: 'GFS Didot', serif;
}

a, li{
  color: $secundario;
  text-decoration: none;
  font-family: 'GFS Didot', serif;
}

h3, h4{
  font-family: 'GFS Didot', serif;
  color: $texto;
  text-decoration: none;
}

h5, h6{
  font-family: 'GFS Didot', serif;
  color: $primario;
  text-decoration: none;
}
